(
    show_hierarchy: Some(true),
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/Users/damien/Workspace/hdl/friscv/test/priv_sec_testsuite/friscv_testbench.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "friscv_testbench",
                "genblk2",
                "axi4_ram",
                "p1_rd_inst",
            ],
            id: Wellen((7)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (109),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (110),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (105),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (106),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (107),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (95),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (96),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (97),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (98),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (108),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (99),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (100),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (101),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (102),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (103),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (104),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (111),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (115),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (116),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (114),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (113),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (112),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (117),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (121),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (118),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (119),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (120),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (106): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (113): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                            "READ_COMPLETION_COMPLIANCE",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "rvalid_rnd",
                    id: Wellen((384)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rvalid_rnd",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (116): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                            "READ_COMPLETION_COMPLIANCE",
                            "rvalid_inst",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "ready_i",
                    id: Wellen((391)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ready_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (111): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (98): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_arready",
                    id: Wellen((249)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_arready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (114): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                            "READ_COMPLETION_COMPLIANCE",
                            "rvalid_inst",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "valid_o",
                    id: Wellen((390)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "valid_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (102): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_rvalid",
                    id: Wellen((226)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_rvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (107): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (105): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (120): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "arlock_s",
                    id: Wellen((337)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "arlock_s",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (117): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "araddr_empty",
                    id: Wellen((343)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "araddr_empty",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (110): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "RAM_MODE",
                    id: Wellen((109)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "RAM_MODE",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (119): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "arlen_s",
                    id: Wellen((338)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "arlen_s [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (104): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_rlast",
                    id: Wellen((229)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_rlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (100): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_rid",
                    id: Wellen((230)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_rid [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (96): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_arid",
                    id: Wellen((251)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_arid [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (109): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "MODE",
                    id: Wellen((262)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "MODE",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (99): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_rdata",
                    id: Wellen((231)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_rdata [127:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (95): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_araddr",
                    id: Wellen((252)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_araddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (108): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (118): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "arid_s",
                    id: Wellen((339)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "arid_s [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (121): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "araddr_s",
                    id: Wellen((341)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "araddr_s [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (97): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_arvalid",
                    id: Wellen((248)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_arvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (101): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_rresp",
                    id: Wellen((227)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_rresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (112): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                            "READ_COMPLETION_COMPLIANCE",
                        ],
                        id: Wellen((12)),
                    ),
                    name: "rvalid_r",
                    id: Wellen((385)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rvalid_r",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (115): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                            "p1_rd_inst",
                            "READ_COMPLETION_COMPLIANCE",
                            "rvalid_inst",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "valid_i",
                    id: Wellen((389)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "valid_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (103): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "axi4_ram",
                        ],
                        id: Wellen((6)),
                    ),
                    name: "p1_rready",
                    id: Wellen((228)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "p1_rready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 121,
        viewports: [
            (
                curr_left: (0.0048891483132649065),
                curr_right: (0.005865710813264915),
                target_left: (0.020225830233913476),
                target_right: (0.024246439017439912),
                move_start_left: (0.020225830233913476),
                move_start_right: (0.024246439017439912),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1043324,
        ])),
        markers: {},
        focused_item: Some((23)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (23),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)