[submodule "dep/svlogger"]
    path = dep/svlogger
    url = https://github.com/dpretet/svlogger.git
[submodule "dep/axi-crossbar"]
    path = dep/axi-crossbar
    url = https://github.com/dpretet/axi-crossbar.git
