# Verification Plan


Cache issue:

Un set d’instruction est demandé:
- La 1ere est cache miss
- La 2eme est cache hit
- Les suivantes hit ou miss

Est ce que des instructions peuvent revenir out-of-order dans la control unit

