(
    show_hierarchy: Some(true),
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/Users/damien/Workspace/hdl/friscv/test/riscv-tests/tests/rv32ui-p-add.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "friscv_testbench",
                "genblk2",
                "dut",
                "processing",
            ],
            id: Wellen((275)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (50),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (52),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (53),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (54),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (55),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (56),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (57),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (59),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (60),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (61),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (58),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (62),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (63),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (64),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (65),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (66),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (67),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (68),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (69),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (51),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (52): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "aresetn",
                    id: Wellen((2387)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "aresetn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (62): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "rready",
                    id: Wellen((2451)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (61): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "rresp",
                    id: Wellen((2426)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (53): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "araddr",
                    id: Wellen((2526)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "araddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (57): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (58): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "rvalid",
                    id: Wellen((2427)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (68): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "processing",
                        ],
                        id: Wellen((275)),
                    ),
                    name: "ls_inst",
                    id: Wellen((3049)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "ls_inst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "arvalid",
                    id: Wellen((2528)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "arvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "cache_ready",
                    id: Wellen((2390)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "cache_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "arid",
                    id: Wellen((2527)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "arid [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (67): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "processing",
                        ],
                        id: Wellen((275)),
                    ),
                    name: "i_inst",
                    id: Wellen((3048)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_inst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (59): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "rdata",
                    id: Wellen((2424)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (64): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "pc",
                    id: Wellen((2470)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (69): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "processing",
                        ],
                        id: Wellen((275)),
                    ),
                    name: "m_inst",
                    id: Wellen((3051)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_inst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (63): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (60): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "rid",
                    id: Wellen((2425)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rid [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (65): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (66): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "aclk",
                    id: Wellen((2386)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "aclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (56): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "friscv_testbench",
                            "genblk2",
                            "dut",
                            "control",
                        ],
                        id: Wellen((173)),
                    ),
                    name: "arready",
                    id: Wellen((2388)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "arready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (51): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
        },
        display_item_ref_counter: 69,
        viewports: [
            (
                curr_left: (0.3333749999999999),
                curr_right: (0.3771249999999999),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1073618,
        ])),
        markers: {},
        focused_item: Some((20)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)