[*]
[*] GTKWave Analyzer v3.3.107 (w)1999-2020 BSI
[*] Fri Sep  3 12:36:19 2021
[*]
[dumpfile] __TMPL__
[dumpfile_mtime] "Fri Sep  3 12:20:33 2021"
[dumpfile_size] 1840688
[savefile] "/Users/damien/workspace/hdl/friscv/test/riscv-tests/friscv_testbench.gtkw"
[timestart] 657660
[size] 2560 1440
[pos] -1 -1
*-14.161475 703000 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
[treeopen] control.
[treeopen] dut.
[treeopen] dut.USE_ICACHE.
[treeopen] dut.USE_ICACHE.icache.
[treeopen] processing.
[treeopen] tb.axi4l_ram.
[sst_width] 325
[signals_width] 476
[sst_expanded] 1
[sst_vpaned_height] 435
@c00200
-AXI4-lite
@28
tb.axi4l_ram.aclk
@800200
-p1
@22
tb.axi4l_ram.p1_awaddr[23:0]
@28
tb.axi4l_ram.p1_awaddr_empty
tb.axi4l_ram.p1_awaddr_full
@22
tb.axi4l_ram.p1_awid[7:0]
@28
tb.axi4l_ram.p1_awprot[2:0]
tb.axi4l_ram.p1_awready
tb.axi4l_ram.p1_awvalid
@200
-
@28
tb.axi4l_ram.p1_wvalid
tb.axi4l_ram.p1_wready
@22
tb.axi4l_ram.p1_wdata[127:0]
tb.axi4l_ram.p1_wstrb[15:0]
@28
tb.axi4l_ram.p1_wdata_empty
tb.axi4l_ram.p1_wdata_full
@200
-
@22
tb.axi4l_ram.p1_awaddr_s[23:0]
tb.axi4l_ram.p1_wdata_s[127:0]
tb.axi4l_ram.p1_wstrb_s[15:0]
@28
tb.axi4l_ram.p1_wpull
@200
-
@22
tb.axi4l_ram.p1_araddr[23:0]
@28
tb.axi4l_ram.p1_arready
tb.axi4l_ram.p1_arvalid
@200
-
@22
tb.axi4l_ram.p1_rdata[127:0]
@28
tb.axi4l_ram.p1_rready
tb.axi4l_ram.p1_rvalid
@1000200
-p1
@800200
-p2
@28
tb.axi4l_ram.p2_awvalid
tb.axi4l_ram.p2_awready
@22
tb.axi4l_ram.p2_awaddr[23:0]
tb.axi4l_ram.p2_awid[7:0]
@28
tb.axi4l_ram.p2_awaddr_empty
tb.axi4l_ram.p2_awaddr_full
@200
-
@28
tb.axi4l_ram.p2_wvalid
tb.axi4l_ram.p2_wready
@22
tb.axi4l_ram.p2_wdata[31:0]
tb.axi4l_ram.p2_wstrb[3:0]
@28
tb.axi4l_ram.p2_wdata_empty
tb.axi4l_ram.p2_wdata_full
@200
-
@28
tb.axi4l_ram.p2_wpull
@22
tb.axi4l_ram.p2_awaddr_s[23:0]
tb.axi4l_ram.p2_wdata_s[31:0]
tb.axi4l_ram.p2_wstrb_s[3:0]
tb.axi4l_ram.p2_wr_position[7:0]
@200
-
@22
tb.axi4l_ram.p2_araddr[23:0]
@28
tb.axi4l_ram.p2_arready
tb.axi4l_ram.p2_arvalid
@200
-
@22
tb.axi4l_ram.p2_rdata[31:0]
@28
tb.axi4l_ram.p2_rready
tb.axi4l_ram.p2_rvalid
@1000200
-p2
@1401200
-AXI4-lite
@800200
-Control
@200
-
@22
control.araddr[23:0]
control.arid[7:0]
@28
control.arready
control.arvalid
@200
-
@22
[color] 7
control.pc_reg[31:0]
[color] 2
control.instruction[31:0]
@28
control.pull_inst
@200
-
@22
control.cfsm[3:0]
@28
control.cant_branch_now
control.cant_process_now
control.flush_req
control.flush_ack
@200
-
@22
control.opcode[6:0]
@28
control.funct3[2:0]
@22
control.funct7[6:0]
control.imm12[11:0]
control.imm20[19:0]
[color] 2
control.rs1[4:0]
[color] 2
control.rs2[4:0]
[color] 2
control.rd[4:0]
@200
-
@28
control.auipc
control.jump_branch
control.branching
control.processing
control.jal
control.jalr
control.lui
@22
control.sys[5:0]
@200
-
@22
control.ctrl_rs1_addr[4:0]
control.ctrl_rs1_val[31:0]
control.ctrl_rs2_addr[4:0]
control.ctrl_rs2_val[31:0]
@28
control.ctrl_rd_wr
@22
control.ctrl_rd_addr[4:0]
control.ctrl_rd_val[31:0]
@200
-
@1000200
-Control
@c00200
-iCache
-iCache Lines
@28
dut.USE_ICACHE.icache.cache_lines.aclk
dut.USE_ICACHE.icache.cache_lines.aresetn
dut.USE_ICACHE.icache.cache_lines.srst
@200
-
@28
[color] 2
dut.USE_ICACHE.icache.cache_lines.ren
[color] 2
dut.USE_ICACHE.icache.cache_lines.hit
[color] 2
dut.USE_ICACHE.icache.cache_lines.miss
@22
dut.USE_ICACHE.icache.cache_lines.raddr[23:0]
dut.USE_ICACHE.icache.cache_lines.rdata[31:0]
@28
dut.USE_ICACHE.icache.cache_lines.rset
@22
dut.USE_ICACHE.icache.cache_lines.rindex[8:0]
@28
dut.USE_ICACHE.icache.cache_lines.roffset[1:0]
@22
dut.USE_ICACHE.icache.cache_lines.rline[127:0]
dut.USE_ICACHE.icache.cache_lines.rtag[10:0]
@200
-
@28
dut.USE_ICACHE.icache.cache_lines.flush
dut.USE_ICACHE.icache.cache_lines.wen
@22
dut.USE_ICACHE.icache.cache_lines.waddr[23:0]
dut.USE_ICACHE.icache.cache_lines.windex[8:0]
dut.USE_ICACHE.icache.cache_lines.wtag[10:0]
dut.USE_ICACHE.icache.cache_lines.wline[139:0]
dut.USE_ICACHE.icache.cache_lines.wdata[127:0]
@1401200
-iCache Lines
@c00200
-MemCtrl
@22
dut.USE_ICACHE.mem_ctrl.mem_araddr[23:0]
dut.USE_ICACHE.mem_ctrl.mem_arid[7:0]
@28
dut.USE_ICACHE.mem_ctrl.mem_arready
dut.USE_ICACHE.mem_ctrl.mem_arvalid
dut.USE_ICACHE.mem_ctrl.mem_rlast
dut.USE_ICACHE.mem_ctrl.mem_rready
dut.USE_ICACHE.mem_ctrl.mem_rvalid
@22
dut.USE_ICACHE.mem_ctrl.mem_rdata[127:0]
@200
-
@28
dut.USE_ICACHE.mem_ctrl.cache_wen
dut.USE_ICACHE.mem_ctrl.flush
@22
dut.USE_ICACHE.mem_ctrl.cache_waddr[23:0]
dut.USE_ICACHE.mem_ctrl.cache_wdata[127:0]
@1401200
-MemCtrl
-iCache
@c00200
-Memfy
@200
-
@22
processing.memfy.awaddr[23:0]
@28
processing.memfy.awready
processing.memfy.awvalid
@22
processing.memfy.wdata[31:0]
processing.memfy.wstrb[3:0]
@28
processing.memfy.wready
processing.memfy.wvalid
@200
-
@22
processing.memfy.araddr[23:0]
@28
processing.memfy.arready
processing.memfy.arvalid
@22
processing.memfy.rdata[31:0]
@28
processing.memfy.rready
processing.memfy.rvalid
@200
-
@1401200
-Memfy
@800200
-ISA Registers
@22
isa_registers.x0[31:0]
isa_registers.x1[31:0]
isa_registers.x2[31:0]
isa_registers.x3[31:0]
isa_registers.x4[31:0]
isa_registers.x5[31:0]
isa_registers.x6[31:0]
isa_registers.x7[31:0]
isa_registers.x8[31:0]
isa_registers.x9[31:0]
isa_registers.x10[31:0]
isa_registers.x11[31:0]
isa_registers.x12[31:0]
isa_registers.x13[31:0]
@23
isa_registers.x14[31:0]
@22
isa_registers.x15[31:0]
isa_registers.x16[31:0]
isa_registers.x17[31:0]
isa_registers.x18[31:0]
isa_registers.x19[31:0]
isa_registers.x20[31:0]
isa_registers.x21[31:0]
isa_registers.x22[31:0]
isa_registers.x23[31:0]
isa_registers.x24[31:0]
isa_registers.x25[31:0]
isa_registers.x26[31:0]
isa_registers.x27[31:0]
isa_registers.x28[31:0]
isa_registers.x29[31:0]
isa_registers.x30[31:0]
isa_registers.x31[31:0]
@1000200
-ISA Registers
[pattern_trace] 1
[pattern_trace] 0
