[*]
[*] GTKWave Analyzer v3.3.107 (w)1999-2020 BSI
[*] Wed Aug 25 18:10:19 2021
[*]
[dumpfile] __TMPL__
[dumpfile_mtime] "Wed Aug 25 18:03:52 2021"
[dumpfile_size] 16395216
[savefile] "/Users/damien/workspace/hdl/friscv/test/riscv-tests/friscv_testbench.gtkw"
[timestart] 242640
[size] 2560 1440
[pos] -1 -1
*-14.055389 313540 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
[treeopen] control.
[treeopen] control.inst_fifo.
[treeopen] dut.USE_ICACHE.icache.
[sst_width] 193
[signals_width] 283
[sst_expanded] 1
[sst_vpaned_height] 384
@c00022
dut.status[7:0]
@28
(0)dut.status[7:0]
(1)dut.status[7:0]
(2)dut.status[7:0]
(3)dut.status[7:0]
(4)dut.status[7:0]
(5)dut.status[7:0]
(6)dut.status[7:0]
(7)dut.status[7:0]
@1401200
-group_end
@c00200
-iCache
-fetcher
@28
dut.USE_ICACHE.icache.aclk
dut.USE_ICACHE.icache.aresetn
dut.USE_ICACHE.icache.srst
@200
-
@28
dut.USE_ICACHE.icache.flush_ack
dut.USE_ICACHE.icache.flush_req
@200
-
@28
dut.USE_ICACHE.icache.ctrl_arvalid
dut.USE_ICACHE.icache.ctrl_arready
@22
dut.USE_ICACHE.icache.ctrl_arid[7:0]
@28
dut.USE_ICACHE.icache.ctrl_arprot[2:0]
dut.USE_ICACHE.icache.ctrl_arready
dut.USE_ICACHE.icache.ctrl_rvalid
@22
dut.USE_ICACHE.icache.ctrl_rdata[31:0]
dut.USE_ICACHE.icache.ctrl_rid[7:0]
@28
dut.USE_ICACHE.icache.ctrl_rready
dut.USE_ICACHE.icache.ctrl_rresp[1:0]
@200
-
-
@28
dut.USE_ICACHE.icache.memctrl_arvalid
dut.USE_ICACHE.icache.memctrl_arready
@22
dut.USE_ICACHE.icache.memctrl_arid[7:0]
@28
dut.USE_ICACHE.icache.memctrl_arprot[2:0]
@200
-
-
@28
dut.USE_ICACHE.icache.aclk
@200
-
-
@28
dut.USE_ICACHE.icache.cache_wen
@22
dut.USE_ICACHE.icache.cache_wdata[127:0]
@28
dut.USE_ICACHE.icache.cache_ren
@22
dut.USE_ICACHE.icache.cache_rdata[31:0]
@28
dut.USE_ICACHE.icache.cache_hit
dut.USE_ICACHE.icache.cache_miss
@200
-
@28
dut.USE_ICACHE.icache.icache_arvalid
dut.USE_ICACHE.icache.icache_arready
@22
dut.USE_ICACHE.icache.icache_arlen[7:0]
@28
dut.USE_ICACHE.icache.icache_arburst[1:0]
@22
dut.USE_ICACHE.icache.icache_arcache[3:0]
dut.USE_ICACHE.icache.icache_arid[7:0]
@28
dut.USE_ICACHE.icache.icache_arlock[1:0]
dut.USE_ICACHE.icache.icache_arprot[2:0]
@22
dut.USE_ICACHE.icache.icache_arqos[3:0]
dut.USE_ICACHE.icache.icache_arregion[3:0]
@28
dut.USE_ICACHE.icache.icache_arsize[2:0]
@200
-
@22
dut.USE_ICACHE.icache.icache_rid[7:0]
@28
dut.USE_ICACHE.icache.icache_rresp[1:0]
@22
dut.USE_ICACHE.icache.icache_rdata[127:0]
@28
dut.USE_ICACHE.icache.icache_rvalid
dut.USE_ICACHE.icache.icache_rready
dut.USE_ICACHE.icache.icache_rlast
@1401200
-fetcher
@c00200
-iCacheLines
@28
dut.USE_ICACHE.icache.cache_lines.aclk
dut.USE_ICACHE.icache.cache_lines.aresetn
dut.USE_ICACHE.icache.cache_lines.srst
@200
-
@28
dut.USE_ICACHE.icache.cache_lines.flush
dut.USE_ICACHE.icache.cache_lines.hit
dut.USE_ICACHE.icache.cache_lines.miss
@200
-
@28
dut.USE_ICACHE.icache.cache_lines.ren
dut.USE_ICACHE.icache.cache_lines.rset
@22
dut.USE_ICACHE.icache.cache_lines.rindex[8:0]
@28
dut.USE_ICACHE.icache.cache_lines.roffset[1:0]
@22
dut.USE_ICACHE.icache.cache_lines.rline[127:0]
dut.USE_ICACHE.icache.cache_lines.rdata[31:0]
@200
-
@28
dut.USE_ICACHE.icache.cache_lines.rset
@22
dut.USE_ICACHE.icache.cache_lines.rindex[8:0]
@28
dut.USE_ICACHE.icache.cache_lines.roffset[1:0]
@200
-
@28
dut.USE_ICACHE.icache.cache_lines.wen
@22
dut.USE_ICACHE.icache.cache_lines.windex[8:0]
dut.USE_ICACHE.icache.cache_lines.wdata[127:0]
@200
-
@1401200
-iCacheLines
-iCache
@800201
-Control
@29
control.aclk
control.aresetn
control.ebreak
@201
-
@23
control.csr_sb[63:0]
@201
-
@800201
-Cache Bus
@23
control.arid[7:0]
control.araddr[23:0]
@29
control.arprot[2:0]
control.arvalid
control.arready
@201
-
@29
[color] 4
control.rvalid
@23
control.rdata[31:0]
control.rid[7:0]
@29
control.rready
control.rresp[1:0]
@1000201
-Cache Bus
@201
-
@800201
-instruction FIFO
@29
control.push_inst
control.fifo_full
@23
[color] 7
control.instruction[31:0]
@29
control.pull_inst
control.fifo_empty
control.inst_error
@1000201
-instruction FIFO
@201
-
@c00201
-Instruction
@22
control.opcode[6:0]
@28
control.funct3[2:0]
@22
control.funct7[6:0]
control.rs1[4:0]
control.rs2[4:0]
control.rd[4:0]
control.imm12[11:0]
control.imm20[19:0]
control.shamt[5:0]
control.succ[3:0]
control.pred[3:0]
control.zimm[4:0]
control.csr[11:0]
control.sys[5:0]
@1401201
-Instruction
@201
-
@800201
-Sequencer
@23
[color] 2
control.cfsm[3:0]
@29
control.cant_branch_now
control.cant_process_now
control.flush_fifo
[color] 7
control.fifo_empty
@23
[color] 7
control.instruction[31:0]
control.pc_reg[31:0]
@29
control.processing
control.jump_branch
control.branching
control.goto_branch
[color] 7
control.auipc
control.jal
control.jalr
control.lui
control.fence[1:0]
@c00023
control.sys[5:0]
@28
(0)control.sys[5:0]
(1)control.sys[5:0]
(2)control.sys[5:0]
(3)control.sys[5:0]
(4)control.sys[5:0]
(5)control.sys[5:0]
@1401201
-group_end
@1000201
-Sequencer
@201
-
@c00201
-PCs
@22
control.pc[31:0]
control.pc_auipc[31:0]
control.pc_auipc_saved[31:0]
control.pc_branching[31:0]
control.pc_jal[31:0]
control.pc_jal_saved[31:0]
control.pc_jalr[31:0]
control.pc_plus4[31:0]
control.pc_reg[31:0]
@1401201
-PCs
@201
-
@c00201
-processing bus
@28
control.proc_en
control.proc_ready
@22
control.proc_instbus[86:0]
@28
control.proc_empty
@22
control.proc_fenceinfo[3:0]
@1401201
-processing bus
@201
-
@c00201
-ISA Access
@28
control.ctrl_rd_wr
@22
control.ctrl_rd_addr[4:0]
control.ctrl_rd_val[31:0]
control.ctrl_rs1_addr[4:0]
control.ctrl_rs1_val[31:0]
control.ctrl_rs2_addr[4:0]
control.ctrl_rs2_val[31:0]
@1401201
-ISA Access
@201
-
@1000201
-Control
@c00200
-CSR
@28
csrs.valid
csrs.ready
@22
csrs.opcode[6:0]
csrs.csr[11:0]
@28
csrs.funct3[2:0]
@22
csrs.rd[4:0]
csrs.rs1[4:0]
csrs.zimm[4:0]
@200
-
@28
csrs.cfsm[1:0]
csrs.ro_trap
csrs.ro_write_access
@200
-
@22
[color] 4
csrs.misa[31:0]
[color] 7
csrs.mhartid[31:0]
[color] 4
csrs.mcause[31:0]
[color] 7
csrs.mepc[31:0]
[color] 4
csrs.mscratch[31:0]
[color] 7
csrs.mstatus[31:0]
[color] 4
csrs.mtval[31:0]
[color] 7
csrs.mtvec[31:0]
@1401200
-CSR
@c00200
-ISA Registers
@22
isa_registers.x0[31:0]
isa_registers.x1[31:0]
isa_registers.x2[31:0]
isa_registers.x3[31:0]
isa_registers.x4[31:0]
isa_registers.x5[31:0]
isa_registers.x6[31:0]
isa_registers.x7[31:0]
isa_registers.x8[31:0]
isa_registers.x9[31:0]
isa_registers.x10[31:0]
isa_registers.x11[31:0]
isa_registers.x12[31:0]
isa_registers.x13[31:0]
isa_registers.x14[31:0]
isa_registers.x15[31:0]
isa_registers.x16[31:0]
isa_registers.x17[31:0]
isa_registers.x18[31:0]
isa_registers.x19[31:0]
isa_registers.x20[31:0]
isa_registers.x21[31:0]
isa_registers.x22[31:0]
isa_registers.x23[31:0]
isa_registers.x24[31:0]
isa_registers.x25[31:0]
isa_registers.x26[31:0]
isa_registers.x27[31:0]
isa_registers.x28[31:0]
isa_registers.x29[31:0]
isa_registers.x30[31:0]
isa_registers.x31[31:0]
@1401200
-ISA Registers
@c00200
-processing
@28
processing.proc_en
@22
processing.proc_instbus[86:0]
@28
processing.proc_ready
@200
-
@28
processing.alu_en
processing.alu_ready
processing.memfy_en
processing.memfy_ready
@200
-
@28
processing.alu_rd_wr
@22
processing.alu_rd_addr[4:0]
processing.alu_rd_strb[3:0]
processing.alu_rd_val[31:0]
@200
-
@c00200
-Memfy
@28
processing.memfy.memfy_en
@22
processing.memfy.memfy_instbus[86:0]
@28
processing.memfy.memfy_ready
@22
processing.memfy.opcode[6:0]
@28
processing.memfy.funct3[2:0]
@22
processing.memfy.funct7[6:0]
processing.memfy.rs1[4:0]
processing.memfy.rs2[4:0]
processing.memfy.rd[4:0]
@1401200
-Memfy
-processing
@c00200
-axi4l instruction RAM
@28
inst_axi4l_ram.aresetn
@22
inst_axi4l_ram.arid[7:0]
inst_axi4l_ram.arid_s[7:0]
@28
inst_axi4l_ram.arprot[2:0]
inst_axi4l_ram.arready
inst_axi4l_ram.arvalid
inst_axi4l_ram.raddr_empty
inst_axi4l_ram.raddr_full
inst_axi4l_ram.rvalid
inst_axi4l_ram.raddr_pull
@22
inst_axi4l_ram.rid[7:0]
inst_axi4l_ram.rdata[127:0]
@28
inst_axi4l_ram.rready
inst_axi4l_ram.rresp[1:0]
@420
inst_axi4l_ram.random
inst_axi4l_ram.rcounter
@28
inst_axi4l_ram.raddr_empty
inst_axi4l_ram.raddr_full
inst_axi4l_ram.raddr_pull
@1401200
-axi4l instruction RAM
[pattern_trace] 1
[pattern_trace] 0
