[*]
[*] GTKWave Analyzer v3.3.107 (w)1999-2020 BSI
[*] Thu Jun 10 19:21:48 2021
[*]
[dumpfile] __TMPL__
[dumpfile_mtime] "Thu Jun 10 18:50:48 2021"
[dumpfile_size] 3379038
[savefile] "/Users/damien/workspace/hdl/friscv/test/asm_testsuite/friscv_rv32i_testbench_main.gtkw"
[timestart] 0
[size] 2015 1050
[pos] -1 -1
*-14.000000 67000 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
[treeopen] dut.
[sst_width] 193
[signals_width] 341
[sst_expanded] 1
[sst_vpaned_height] 325
@c00200
-AXI4-lite
@28
inst_axi4l_ram.aclk
inst_axi4l_ram.aresetn
inst_axi4l_ram.srst
@22
inst_axi4l_ram.arid[7:0]
@28
inst_axi4l_ram.arprot[2:0]
inst_axi4l_ram.arvalid
inst_axi4l_ram.arready
@200
-
@22
inst_axi4l_ram.rdata[31:0]
inst_axi4l_ram.rid[7:0]
@28
inst_axi4l_ram.rresp[1:0]
inst_axi4l_ram.rvalid
inst_axi4l_ram.rready
@200
-
@28
inst_axi4l_ram.raddr_full
inst_axi4l_ram.raddr_pull
inst_axi4l_ram.raddr_empty
inst_axi4l_ram.raddr_pull
@420
inst_axi4l_ram.random
inst_axi4l_ram.rcounter
@1401200
-AXI4-lite
@800200
-Control
@28
dut.control.aclk
dut.control.aresetn
dut.control.ebreak
@200
-
@22
dut.control.araddr[15:0]
dut.control.arid[7:0]
@28
dut.control.arprot[2:0]
dut.control.arvalid
dut.control.arready
@200
-
@22
dut.control.rdata[31:0]
dut.control.rid[7:0]
@29
[color] 7
dut.control.rvalid
@28
dut.control.rready
dut.control.rresp[1:0]
@200
-
@28
dut.control.ctrl_rd_wr
@22
dut.control.ctrl_rd_addr[4:0]
dut.control.ctrl_rd_val[31:0]
dut.control.ctrl_rs1_addr[4:0]
dut.control.ctrl_rs1_val[31:0]
dut.control.ctrl_rs2_addr[4:0]
dut.control.ctrl_rs2_val[31:0]
@200
-
@28
dut.control.push_inst
dut.control.fifo_full
dut.control.pull_inst
@22
dut.control.instruction[31:0]
@28
dut.control.fifo_empty
dut.control.inst_error
dut.control.flush_fifo
@200
-
@22
dut.control.opcode[6:0]
@28
dut.control.funct3[2:0]
@22
dut.control.funct7[6:0]
dut.control.rs1[4:0]
dut.control.rs2[4:0]
dut.control.rd[4:0]
dut.control.shamt[5:0]
dut.control.succ[3:0]
dut.control.pred[3:0]
dut.control.zimm[4:0]
dut.control.csr[11:0]
@200
-
@22
[color] 7
dut.control.cfsm[3:0]
dut.control.pc_reg[31:0]
@28
dut.control.processing
dut.control.branching
dut.control.cant_branch_now
dut.control.cant_process_now
dut.control.auipc
dut.control.jal
dut.control.jalr
dut.control.jump_branch
dut.control.lui
dut.control.env[2:0]
dut.control.fence[1:0]
@200
-
@28
dut.control.goto_branch
@22
dut.control.pc[31:0]
dut.control.pc_plus4[31:0]
dut.control.pc_auipc[31:0]
dut.control.pc_auipc_saved[31:0]
dut.control.pc_branching[31:0]
dut.control.pc_jal[31:0]
dut.control.pc_jal_saved[31:0]
dut.control.pc_jalr[31:0]
@200
-
@28
dut.control.proc_en
dut.control.proc_ready
@22
dut.control.proc_instbus[86:0]
@28
dut.control.proc_empty
@22
dut.control.proc_fenceinfo[3:0]
@200
-
@28
dut.control.csr_en
dut.control.csr_ready
@22
dut.control.csr_instbus[86:0]
@1000200
-Control
[pattern_trace] 1
[pattern_trace] 0
