[*]
[*] GTKWave Analyzer v3.3.107 (w)1999-2020 BSI
[*] Wed Apr 28 18:58:09 2021
[*]
[dumpfile] __TMPL__
[dumpfile_mtime] "Wed Apr 28 18:48:55 2021"
[dumpfile_size] 20738
[savefile] "/Users/damien/workspace/hdl/friscv/test/asm_testsuite/friscv_rv32i_testbench.gtkw"
[timestart] 0
[size] 1979 1024
[pos] -1 -1
*-13.400259 31080 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
[treeopen] dut.
[treeopen] dut.control_unit.
[treeopen] friscv_rv32i_testbench.
[sst_width] 193
[signals_width] 423
[sst_expanded] 1
[sst_vpaned_height] 329
@c00200
-Top
@28
dut.aclk
dut.aresetn
dut.srst
dut.enable
@200
-
@28
dut.inst_en
@22
dut.control_unit.inst_addr[15:0]
dut.inst_rdata[31:0]
@28
dut.inst_ready
@200
-
@28
dut.mem_en
dut.mem_wr
@22
dut.mem_addr[15:0]
dut.mem_wdata[31:0]
dut.mem_strb[3:0]
dut.mem_rdata[31:0]
@28
dut.mem_ready
@200
-
@28
dut.proaluc_en
@22       
dut.proaluc_instbus[86:0]
@28       
dut.proaluc_ready
dut.proaluc_empty
@200
-
@22
dut.ctrl_rs1_addr[4:0]
dut.ctrl_rs1_val[31:0]
dut.ctrl_rs2_addr[4:0]
dut.ctrl_rs2_val[31:0]
@28
dut.ctrl_rd_wr
@22
dut.ctrl_rd_addr[4:0]
dut.ctrl_rd_val[31:0]
@200
-
@28
dut.alu_rd_wr
@22
dut.alu_rd_addr[4:0]
dut.alu_rd_strb[3:0]
dut.alu_rd_val[31:0]
dut.alu_rs1_addr[4:0]
dut.alu_rs1_val[31:0]
dut.alu_rs2_addr[4:0]
dut.alu_rs2_val[31:0]
@200
-
@22
dut.x0[31:0]
dut.x1[31:0]
dut.x2[31:0]
dut.x3[31:0]
dut.x4[31:0]
dut.x5[31:0]
dut.x6[31:0]
dut.x7[31:0]
dut.x8[31:0]
dut.x9[31:0]
dut.x10[31:0]
dut.x11[31:0]
dut.x12[31:0]
dut.x13[31:0]
dut.x14[31:0]
dut.x15[31:0]
dut.x16[31:0]
dut.x17[31:0]
dut.x18[31:0]
dut.x19[31:0]
dut.x20[31:0]
dut.x21[31:0]
dut.x22[31:0]
dut.x23[31:0]
dut.x24[31:0]
dut.x25[31:0]
dut.x26[31:0]
dut.x27[31:0]
dut.x28[31:0]
dut.x29[31:0]
dut.x30[31:0]
dut.x31[31:0]
@1401200
-Top
@800201
-control
@29
dut.control_unit.aclk
dut.control_unit.aresetn
dut.control_unit.srst
@201
-
@29
dut.control_unit.proc_en
@23
dut.control_unit.proc_addr[15:0]
dut.control_unit.proc_rdata[31:0]
@29
dut.control_unit.proc_ready
@201
-
@23
dut.control_unit.cfsm[3:0]
dut.control_unit.instruction[31:0]
@29
dut.control_unit.load_stored
@23
dut.control_unit.stored_inst[31:0]
@201
-
@23
dut.control_unit.pc_reg[31:0]
dut.control_unit.pc[31:0]
dut.control_unit.pc_plus4[31:0]
dut.control_unit.pc_auipc[31:0]
dut.control_unit.pc_branching[31:0]
dut.control_unit.pc_jal[31:0]
dut.control_unit.pc_jalr[31:0]
@201
-
@23
dut.control_unit.instruction[31:0]
@c00023
dut.control_unit.opcode[6:0]
@28
(0)dut.control_unit.opcode[6:0]
(1)dut.control_unit.opcode[6:0]
(2)dut.control_unit.opcode[6:0]
(3)dut.control_unit.opcode[6:0]
(4)dut.control_unit.opcode[6:0]
(5)dut.control_unit.opcode[6:0]
(6)dut.control_unit.opcode[6:0]
@1401201
-group_end
@29
dut.control_unit.processing
dut.control_unit.auipc
dut.control_unit.jal
dut.control_unit.jalr
dut.control_unit.system
dut.control_unit.branching
dut.control_unit.cant_branch_now
dut.control_unit.cant_process_now
dut.control_unit.goto_branch
dut.control_unit.beq
dut.control_unit.bge
dut.control_unit.bgeu
dut.control_unit.blt
dut.control_unit.bltu
dut.control_unit.bne
@23
dut.control_unit.imm12[11:0]
dut.control_unit.imm20[19:0]
dut.control_unit.pred[3:0]
dut.control_unit.rd[4:0]
dut.control_unit.rs1[4:0]
dut.control_unit.rs2[4:0]
dut.control_unit.shamt[5:0]
dut.control_unit.succ[3:0]
dut.control_unit.zimm[4:0]
@1000201
-control
@c00200
-alu
@28
dut.alu.aclk
dut.alu.aresetn
dut.alu.srst
@200
-
@28
dut.alu.alu_en
@22
dut.alu.alu_instbus[86:0]
@28
dut.alu.alu_ready
dut.alu.alu_empty
@200
-
-
@22
dut.alu.opcode[6:0]
@28
dut.alu.r_i_opcode
@22
dut.alu.rd[4:0]
dut.alu.rs1[4:0]
dut.alu.rs2[4:0]
dut.alu.shamt[5:0]
dut.alu.zimm[4:0]
dut.alu.csr[11:0]
@28
dut.alu.funct3[2:0]
@22
dut.alu.funct7[6:0]
dut.alu.imm12[11:0]
@c00022
dut.alu.imm20[19:0]
@28
(0)dut.alu.imm20[19:0]
(1)dut.alu.imm20[19:0]
(2)dut.alu.imm20[19:0]
(3)dut.alu.imm20[19:0]
(4)dut.alu.imm20[19:0]
(5)dut.alu.imm20[19:0]
(6)dut.alu.imm20[19:0]
(7)dut.alu.imm20[19:0]
(8)dut.alu.imm20[19:0]
(9)dut.alu.imm20[19:0]
(10)dut.alu.imm20[19:0]
(11)dut.alu.imm20[19:0]
(12)dut.alu.imm20[19:0]
(13)dut.alu.imm20[19:0]
(14)dut.alu.imm20[19:0]
(15)dut.alu.imm20[19:0]
(16)dut.alu.imm20[19:0]
(17)dut.alu.imm20[19:0]
(18)dut.alu.imm20[19:0]
(19)dut.alu.imm20[19:0]
@1401200
-group_end
@200
-
@22
dut.alu.alu_rs1_addr[4:0]
dut.alu.alu_rs1_val[31:0]
dut.alu.alu_rs2_addr[4:0]
dut.alu.alu_rs2_val[31:0]
@28
dut.alu.alu_rd_wr
@22
dut.alu.alu_rd_addr[4:0]
dut.alu.alu_rd_strb[3:0]
dut.alu.alu_rd_val[31:0]
@1401200
-alu
@c00200
-memfy
@28
memfy.aclk
memfy.aresetn
memfy.memfy_en
@22
memfy.memfy_instbus[86:0]
@28
memfy.memfy_ready
@200
-
@22
memfy.opcode[6:0]
memfy.rs1[4:0]
memfy.rs2[4:0]
memfy.rd[4:0]
@200
-
@28
memfy.mem_en
memfy.mem_wr
@22
memfy.mem_addr[15:0]
memfy.mem_wdata[31:0]
memfy.mem_strb[3:0]
memfy.mem_rdata[31:0]
@28
memfy.mem_ready
@200
-
@28
memfy.memfy_rd_wr
@22
memfy.memfy_rd_addr[4:0]
memfy.memfy_rd_val[31:0]
memfy.memfy_rd_strb[3:0]
@1401200
-memfy
@c00200
-instruction RAM
@28
instruction_ram.aclk
instruction_ram.aresetn
@22
instruction_ram.p1_addr[15:0]
@28
instruction_ram.p1_en
@22
instruction_ram.p1_rdata[31:0]
@28
instruction_ram.p1_ready
@22
instruction_ram.p1_strb[3:0]
instruction_ram.p1_wdata[31:0]
@28
instruction_ram.p1_wr
@22
instruction_ram.p2_addr[15:0]
@28
instruction_ram.p2_en
@22
instruction_ram.p2_rdata[31:0]
@28
instruction_ram.p2_ready
@22
instruction_ram.p2_strb[3:0]
instruction_ram.p2_wdata[31:0]
@28
instruction_ram.p2_wr
instruction_ram.srst
@1401200
-instruction RAM
[pattern_trace] 1
[pattern_trace] 0
